body {
    background-color: rgb(253, 247, 240);
    font-family: sans-serif, DFKai-SB, Microsoft JhengHei;
}

#contanier {
    width: 80%;
    margin: 12px auto;
    text-align: center;
}

.sub-title {
    display: inline-block;
    background-color: #0b193a;
    color: #fff;
    font-size: 3rem;
    height: 4rem;
    margin: 6px 0px;
    padding: 1rem;
    line-height: 4rem;
    border-radius: 0.8rem
}

.sub-title {
    border-style: dotted;
    border-width: 5px;
    border-color: yellow;
}


.title {
    background-color: #0b193a;
    color: #fff;
    font-size: 4rem;
    height: 4rem;
    margin: 5px;
    padding: 1rem;
    text-align: center;
    line-height: 4rem;
    border-radius: 0.8rem
}

.title {
    border-style: dotted;

}

.text-1 {
    margin: 6px 0px;
    padding: 6px;
    border: 2px solid salmon;
    background-color: blanchedalmond;
    font-size: 20px;
    line-height: 22px;

}

.text-2 {
    background-color: rgb(206, 175, 235);
    border-radius: 6px;
    padding: 6px;
}

.text-4 {
    text-align: left;
    line-height: 24px;
}

.text-4 a {
    background-color: red;
    color: white;
    padding: 3px;

}

form {
    background-color: rgb(91, 75, 235);
    padding: 12px 0px;
    margin: 6px;
    border-radius: 12px;
    color: rgb(15, 14, 11);
    text-align: center;
}

input,
textarea,
label {
    font-size: 20px;
    text-align: center;
    margin: 6px;
}

button[type="button"],
[type="reset"] {
    background-color: rgb(32, 31, 11);
    color: aliceblue;
    font-size: 20px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
    border: none;
}

ol {
    text-align: left;

}

li {
    margin-left: 24px;
}

ul {
    list-style: none;
    padding-left: 0;
}

ul a {
    text-decoration: none;
    line-height: 20px;
}

a:hover {
    color: blue;
    text-align: center;
}

#image {
    background-color: burlywood;
    padding: 6px;
}

#image img {
    background-color: white;
    padding: 3px;
    width: 30%;
}

#main-table {
    width: 90%;
    margin: 0px auto;
    text-align: center;
    height: 300px;
    margin-top: 10px;
}

#main-table th {
    background: coral;
    color: aliceblue;
}

#main-table td {
    background-color: aqua;
    font-size: 20px;
}

#main-table td:first-child {
    background-color: papayawhip;
}

#main-table td:last-child {
    background-color: rgb(233, 23, 23);
}